body {
  // Body styling adapted from https://github.com/setetres/evenbettermotherfuckingwebsite 
  // under CC-BY-4.0 http://creativecommons.org/licenses/by/4.0
  background: #f2f2f2;
  color: #444444;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  text-shadow: 0 1px 0 #ffffff;
}

html, body {
  max-width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

html, body, #map {
  height: 87%;
  width: 100vw;
}

#map {
  max-width: 100%;
}

span.line {
  display: inline-block;
}

#slider-range {
  margin-left: 1em;
  margin-right: 1em;
}

#progress {
    display: none;
    position: absolute;
    z-index: 1000;
    left: 35%;
    top: 65%;
    width: 50%;
    height: 20px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    padding: 2px;
}

#progress-bar {
    width: 0;
    height: 100%;
    background-color: #76A6FC;
    border-radius: 4px;
}

#loader {
  display: none;
  border: 16px solid #A9A9A9; /* Dark grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  left: 35%;
  top: 65%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
